<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="flex-grid">
        <div class="col">
          <h1>Whoops</h1>
          <p>
            Sorry, either this page doesn't exist or something is messed up. I'm
            still quite new at this!
          </p>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
