<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="flex-grid">
          <div class = 'col'>
              <h2>Routes</h2>
              Homepage<br>
              /cookie<br>
              /time<br>
              /download<br>
              /*<br>

          </div>
        <div class="col">
            <h2>Links</h2>
            <p>
                <a href="https://developer.mozilla.org/en-US/">Mozilla Developer Docs</a><br>
                <a href="http://www.jaymesfong.com/baker.html">Assignment 1: Miss Baker</a><br>
                <a href="http://www.jaymesfong.com/site1.html">Assignment 2: Responsive Images</a><br>
                <a href="http://www.jaymesfong.com/cal.html">Assignment 4: Calendar</a><br>
                <a href="http://www.jaymesfong.com/baker2.html">Assignment 4: Miss Baker pt. 2</a><br>
                <a href="http://www.jaymesfong.com/flex.html">Assignment 5: Flexboxes</a><br>
                <a href="http://www.jaymesfong.com/grid.html">Assignment 6: Grid Calendar</a><br>
                <a href="http://www.jaymesfong.com/diet.html">Assignment 6: Diet macros using Grid</a><br>
                <a href="https://www.github.com/jaymesfong/JavaScript30">JavaScript 30</a><br>
                <a href="http://www.jaymesfong.com/jsOne.html">Assignment 7: Elementary JavaScript</a><br>
                <a href="http://www.jaymesfong.com/weather.html">Assignment 9: Public APIs</a><br>
                <a href='http://www.jaymesfong.com/inherit.html'>Assignment 9: Inheritance demo</a><br>
            </p>
        </div>
        <div class="col">
                <p><h2>About me</h2>
                    My name is Jaymes Fong. I am a husband, father to four children, and a full time student at LBCC. I support my crazy circus of a family by bartending at night. My wife has a degree in elementary education, but despite the massive salaries that educators in this country command, she currently works as a personal trainer.
                </p>
                <p><h2>Hobbies</h2>
                    My hobbies include making separate meals for four picky eaters 3-4 times per day, and mediating the pettiest arguments imaginable. I also enjoy sleeping for three hours a night and discovering new ways for my back and knees to hurt. My longtime goal is to become the neighborhood curmudgeon that yells at young people to stay off my lawn
                </p>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
